body {
  background-color: white;
  font-weight: bold;
}

.card {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 350px;
  min-width: 75px;
  background-color: #1b2631;
  color: white;
  margin: 10px;
}

.media {
  display: block;
  margin: auto;
  padding-bottom: 5px;
}

.title {
  font-size: xx-large;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 150px;
  margin: 5px;
}
